
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env.*
.venv/

# =========================
# FastAPI / Uvicorn
# =========================
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

# VS Code
.vscode/

# =========================
# Tests / Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# MyPy
# =========================
.mypy_cache/
